*{
    padding: 0;
}

body{
    font-family: system-ui, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.7;
    color: #ffffff;
}

h5{
    color:#ffffff
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
}

p{
    margin-bottom: 1.5rem;
    color: #000000;
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    height: 100%;
}

nav a{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem 0.875rem;
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1;
    text-decoration: none;
    border-radius: 0.375rem;
}

nav a.active,
nav a:hover
nav a:focus-visible{
    outline:none;
    color:#9ae4ff;
}

nav a span{
    font-size: 0.875rem;
}

.sb-expanded nav a span{
    opacity: 1;
    visibility: visible;
}

h2{
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-block: 2rem 0.5rem;
}

a{
    color: #000000;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover,
a:focus-visible{
    color: #9ae4ff;
}

a:focus-visible{
    outline: 1px solid;
    outline-offset: 0.5rem;
}

main{
    padding-block-start: 0.75rem;
}

.page-width{
    inline-size: min(80ch, 90%);
    padding-inline: 2rem;
    margin-inline: auto;
    color: #000000;
}

.multicolumn {
    display: flex;
    justify-content: center;
    margin-block-start: 3rem;
    background-color: #9ae4ff;
    border-block-start: 1px solid;
}

.multicolumn > div {
    flex: 1;
    padding: 3rem 1rem;
    text-transform: uppercase;
    text-align: center;
}

.multicolumn :nth-child(2) {
    border-inline: 1px solid;
}

.site-footer{
    background-color: #121212;
    color: #ffffff;
    padding-block: 3rem;
}
.footer-block li{
    margin-block: 0.25rem;
    list-style-type: none;
}

.footer-block a{
    color: #9b9b9b;
}

.site-footer .page-width{
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    inline-size: min(90%, 1200px);
}

.footer-block a:hover,
.footer-block a:focus-visible{
    color: #9ae4ff;
}

.site-footer{
    position: sticky;
    bottom: 0;
}

.brand{
    padding: 3rem 2rem 0;
    font-size: max(3rem, 5vw + 1rem);
    line-height: 1.1;
    font-weight: 100;
    letter-spacing: 0.25rem;
    text-align: center;
    text-transform: uppercase;
}

.container{
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

@media (min-width: 768px){
    .site-footer{
        position: sticky;
        bottom: 0;
    }
}