*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --sb-width: 5rem;
    font-family: system-ui, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
}

body.sb-expanded{
    --sb-width: 12.5rem;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
}

p{
    margin-bottom: 1.5rem;
}

aside{
    position: fixed;
    /*left: 0;
    top: 0;
    bottom: 0; */
    inset: 0 auto 0 0;
    padding: 1rem;
    /* width: 80px; */
    width: var(--sb-width);
    background-image: linear-gradient(#2CBD53, #0e9446, #067b37);
    transition: width 0.5s ease-in-out;
}

nav {
    /*border: 1px solid #000;8*/
    height: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    height: 100%;
}

nav li:last-child{
    margin-top: auto;
}

nav a{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem 0.875rem;
    font-size: 1.25rem;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    border-radius: 0.375rem;
    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out;
}

nav a.active,
nav a:hover
nav a:focus-visible{
    outline:none;
    color:#2CBD53;
    background: #fff;
}

nav a span{
    font-size: 0.875rem;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
}

.sb-expanded nav a span{
    opacity: 1;
    visibility: visible;
}

.sb-expanded aside .bx-chevrons-right {
    rotate: 180deg; 
}

main{
  margin-left: 5rem;
  padding: 1rem 2rem;
  transition: margin-left 0.5s ease-in-out;
}

@media (min-width: 768px) {
    main{
        margin-left: var(--sb-width);
    }
}

.sb-expanded nav a span{
    grid-area: 2 / 1 / 3 / 2;
}

.ph-4{
    grid-area: 2 / 2 / 3 / 4;
}

.ph-5{
    grid-area: 3 / 1 / 4 / 2;
}

.ph-6{
    grid-area: 3 / 2 / 4 / 3;
}

.ph-7{
    grid-area: 3 / 3 / 4 / 4;
}

.ph-8{
    grid-area: 4 / 1 / 5 / 4;
}